<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracking PI - Management</title>
</head>
<body>
<div class="container py-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title h4 mb-3">Management</h1>
            <div>
                <a class="btn btn-primary" role="button" href="/admin/industry">Industry</a>
                <a class="btn btn-primary" role="button" href="/admin/volunteer">Volunteer</a>
            </div>
        </div>
    </div>
</div>

<script src="./main.js" type="module"></script>
</body>
</html>
