<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tracking PI</title>
</head>
<body>
<div class="container py-5">
    <div class="card card-body bg-dark rounded-4 mb-5">
        <div class="text-light text-center py-3">
            <h1>Tracking PI</h1>
            <p class="card-text">Hayoo.. Mangkat PI ora??</p>
        </div>
    </div>

    <div class="card card-body rounded-4 mb-4">
        <div class="mb-3">
            <label for="input_code" class="form-label fw-bold">Kode Volunteer</label>
            <input type="text" class="form-control form-control-sm" id="input_code" required>
            <div class="form-text">Tanya ke pembimbing PI sekolah jika tidak tahu.</div>
        </div>
    </div>

    <div class="card card-body rounded-4 mb-4">
        <div>
            <label class="form-label fw-bold d-block">Foto</label>
            <button class="btn btn-sm btn-primary" id="camera_power">Aktifkan Kamera</button>
            <div class="d-flex align-items-center mx-auto" style="width: fit-content">
                <video class="d-none w-100 my-1 rounded-4" id="camera_player" autoplay></video>
                <canvas class="d-none w-100 my-1 rounded-4" id="canvas" width="320" height="240"></canvas>
            </div>
            <div class="alert py-1 alert-primary mt-2">Pastikan ada kamu yaaa...</div>
            <div class="d-flex mt-3 justify-content-center">
                <button class="btn btn-sm me-3" id="btn_reset">Reset</button>
                <button class="btn btn-sm btn-primary" id="btn_shoot">Ambil Gambar</button>
            </div>
        </div>
    </div>

    <div id="card_geo" class="card card-body text-center">
        <div class="mb-3">Izinkan akses lokasi ya!</div>
        <div>
            <button class="btn btn-sm btn-primary" id="btn_get_loc">Dapatkan Lokasiku</button>
        </div>
    </div>

    <div class="d-none card card-body border-primary rounded-4 mb-4 text-center" id="card_submit">
        <p>Sepertinya sudah lengkap, Submit yuk</p>
        <button class="btn btn-sm btn-primary" id="btn_submit">Submit</button>
    </div>
</div>
<script type="module" src="/main.js" defer></script>
</body>
</html>
